.box{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.box:before,
.box:after{
    content: "";
    opacity: 0;
    position: absolute;
    transition: all 0.4s ease-in-out;
}
.box:before{
    border: 0px solid rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
}
.box:hover:before{
    opacity: 1; 
    border: 50px solid rgb(12 112 155 / 70%);
}
.box:after{
    background: rgb(12 112 155 / 70%);
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    transition-delay: 0.1s;
}
.box:hover:after{ opacity: 1; }
.box img{
    width: 100%;
    height: auto;
}
.box .box-content{
    color: #fff;
    background: (0, 0, 0, 0.7);
    opacity: 0;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    padding: 15px 0 20px;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}
.box:hover .box-content{ opacity: 1;}
.box .title{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 2px;
}
.box .post{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0 0 10px;
    display: block;
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    transition: all 0.4s ease-out;
}
.box .icon li{
    margin: 0 3px;
    display: inline-block;
}
.box .icon li a{
    color: #fff;
    font-size: 16px;
    line-height: 32px;
    height: 35px;
    width: 35px;
    border: 2px solid #fff;
    display: block;
    transition: all 0.3s;
}
.box .icon li a:hover{
    border-radius: 0 10px 0 10px;
    box-shadow: 0 0 5px #fff;
}
.box-head .text-ba{margin-top:-40px;color: #f97f14;font-size: 18px;font-weight: 600;}
.box-head .text-ba:hover{display:none;}
@media only screen and (max-width:990px){
    .box{ margin: 0 0 30px; }
}

/* counter */
.count{
    margin-bottom: 10px;
  }
  .content{box-sizing: border-box;text-align: center;border: 1px solid #c1c1c1;margin-top: 40px;background:#e2efff;padding: 20px 0px;}
