@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{margin: 0;padding: 0;box-sizing: border-box;}
.ibm-plex-thin {font-family: "IBM Plex Sans Condensed", sans-serif;font-weight: 100;font-style: normal;}
.ibm-plex-regular {font-family: "IBM Plex Sans Condensed", sans-serif;font-weight: 400;font-style: normal;}
.ibm-plex-medium {font-family: "IBM Plex Sans Condensed", sans-serif;font-weight: 500;font-style: normal;}
.ibm-plex-semibold {font-family: "IBM Plex Sans Condensed", sans-serif;font-weight: 600;font-style: normal;}
.ibm-plex-bold {font-family: "IBM Plex Sans Condensed", sans-serif;font-weight: 700;font-style: normal;}
a{text-decoration: none;}
.sec-padd{padding:40px 0px;}
/* nav part starts */
.logo{width: 157px !important;height: 60px !important;}
.nav-num{box-sizing: border-box;position: relative;padding: 5px 10px;background-color: #FF7827;color: #fff;border-radius: 10px;}
.nav-num:hover{box-sizing: border-box;position: relative;padding: 5px 10px;background-color: #0c709b;color: #fff;border-radius: 10px;}
.nav-link{color: #FF7827;}
.nav-link:hover{color: #0c709b;border-bottom: 2px solid #0c709b;}
.navbar-toggler {border: none;}
/* nav part ends */
/* hero */
.hero-image{background: url(../../images/hero.jpeg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 500px;}
.typewrite{font-size: 2.5rem;font-weight: 600;text-decoration: none;color: #ffffff; margin-left:8px;margin-top:-5px;}
.head-text{transform: translate(0, 16rem);}
.head-text h1{color:#fff;}
/* hero ends */
/* why-us starts */
.sec-padd h2{color: #0c709b;}
.dest-light{background-color: #fff2ea;}
.box-properties{box-sizing: border-box;transition: 0.4s ease-in-out;}
.img-card{width: 100%;height: 242px;overflow: hidden;}
.box-properties:hover{box-shadow: 0 0 5px #FF7827;border-radius: 5px;}
.box-properties:hover .img-card img{transform: scale(1.1);}
.card{overflow: hidden;transition: 0.4s ease-in-out;height: 435px;}
.price{padding: 0px 0px 10px 0px;}
.btn-book{box-sizing: border-box;padding: 10px 20px;background-color: #FF7827;color: #fff;}
.btn-book:hover{box-sizing: border-box;padding: 10px 20px;background-color: #0c709b;color: #fff;}
.card-title{color: #0c709b;}
.card-text i{color: #FF7827;}
.border-none{border: none !important;}
.card-img, .card-img-top {transition: 0.4s ease-in-out;}
/* footer */
.footer{background-color: #0c709b;}
.footer h3{font-size: 18px;color: #fff;text-transform: uppercase;}
.footer h4{font-size: 14px;color: #fff;text-transform: uppercase;}
.our-dest{box-sizing: border-box;border-bottom: 1px solid #FF7827;}
.foot-loc li{list-style: none;margin-left:-30px;}
.foot-loc a{color: #fff;font-size: 14px;}
.foot-loc a:hover{color: #d9d9d9;font-size: 14px;border-bottom: 1px solid #d9d9d9;}
.foot-box a{color: #fff;font-size: 14px;}
.foot-box a:hover{color: #d9d9d9;font-size: 14px;border-bottom: 1px solid #d9d9d9;}
.foot-box li{list-style: none;margin-left:-30px;}
.btn-foot{box-sizing: border-box;padding: 5px 10px;background-color: #FF7827;color: #fff;border-radius: 5px;}
.btn-foot:hover{box-sizing: border-box;padding: 5px 10px;background-color: #0c709b;color: #fff;border-radius: 5px;}
.w-10{width: 40px;}
.social img{width: 40px;height: 40px;margin-top: 5px;margin-bottom: 5px;}
.social img:hover{box-shadow: 0 0 5px #fff;border-radius: 5px;}
.form-control{border:1px solid #0c709b;background-color: #ffe1ce2e;backdrop-filter: blur(21px);}
input{margin-top: 5px;margin-bottom: 5px;background-color: #fff !important;}
textarea{background-color: #fff !important;}
.fa-angles-right:before {content: "\f101";color: #FF7827;}
/* marquee */
.wrapper{width: 100%;overflow: hidden;}
.default-content-container {margin-left: auto;margin-right: auto;margin-top: 0;margin-bottom: 0;width: 100%;}
.marquee-wrapper { display:  inline-block;white-space: nowrap;}
.marquee {display:  inline-block;white-space: nowrap;position: relative;transform: translate3d(0%, 0, 0);animation-name: marquee;animation-timing-function: linear;animation-iteration-count: infinite;}  
.marquee img {width: 200px; height: 80px;}
.marquee a {display:  inline-block;width: 200px;margin: 0 0.5em;padding: 0.5em 0.5em;height: 110px;grid-column-gap: 20px;grid-row-gap: 20px;border-radius: 16px;overflow: hidden;}
  @keyframes marquee {
      0% {
          transform: translate3d(0%, 0, 0);
      }
  
      100% {
          transform: translate3d(-100%, 0, 0);
      }
  }
/* carousel */
.box-item{box-sizing: border-box;background-color: #ffffff;padding: 20px;border: 2px solid #FF7827;text-align: center;border-radius: 10px;height: 300px;}
.box-item img{width: 50px !important;height: 50px;}
.customPrevBtn,.customNextBtn{cursor: pointer;text-align: center;}
.owl-nav{display: flex;gap:20px;justify-content: center;}
@media (max-width:787px) {
    .py-sm-1{padding: 1rem;}
}
