@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;}
.ibm-plex-thin {font-family: "IBM Plex Sans Condensed", sans-serif;font-weight: 100;font-style: normal;}
.ibm-plex-regular {font-family: "IBM Plex Sans Condensed", sans-serif;font-weight: 400;font-style: normal;}
.ibm-plex-medium {font-family: "IBM Plex Sans Condensed", sans-serif;font-weight: 500;font-style: normal;}
.ibm-plex-semibold {font-family: "IBM Plex Sans Condensed", sans-serif;font-weight: 600;font-style: normal;}
.ibm-plex-bold {font-family: "IBM Plex Sans Condensed", sans-serif;font-weight: 700;font-style: normal;}
a{text-decoration: none;}
.sec-padd{padding:40px 0px;overflow: hidden;}
.logo{width: 157px !important;height: 60px !important;}
.nav-num{box-sizing: border-box;position: relative;padding: 5px 10px;background-color: #FF7827;color: #000000;border-radius: 10px;}
.nav-num:hover{box-sizing: border-box;position: relative;padding: 5px 10px;background-color: #0c709b;color: #fff;border-radius: 10px;}
.nav-link{color: #FF7827;border-bottom: 2px solid #fff;}
.nav-link:hover{color: #0c709b;border-bottom: 2px solid #0c709b;}
.navbar-toggler {border: none;}
.navbar-nav{gap:25px;}
.number{margin-top: 10px;}
.bg-body-tertiary {--bs-bg-opacity: 1;background-color: rgb(255 255 255) !important;}
.gap-7{gap: 15rem;}
.gallery{margin-top:3rem;}
.bdr-lft{border-left: 1px solid #c1c1c1;}
@media (max-width:768px) {
    .gap-7{gap: 0px;}
}
.hero-image{background: url(../../images/hero.jpeg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 400px;}
.typewrite{font-size: 2.5rem;font-weight: 600;text-decoration: none;color: #ffffff; margin-left:8px;margin-top:-5px;}
.head-text{transform: translate(0, 7rem);}
.head-text h1{color:#fff;}
.sec-padd h2{color: #0c709b;}
/* .dest-light{background-color: #fdf6f2;} */
.dest-light{background-color: #ffffff;}
.btn-nav:hover{box-sizing: border-box;padding: 10px 20px;background-color: #FF7827 !important;color: #000000;}
.btn-nav{box-sizing: border-box;padding: 10px 20px;background-color: #0c709b !important;color: #fff !important;}
.box-properties{box-sizing: border-box;transition: 0.4s ease-in-out;}
.img-card{width: 100%;height: 242px;overflow: hidden;}
.box-properties:hover{box-shadow: 0 0 5px #FF7827;border-radius: 5px;}
.box-properties:hover .img-card img{transform: scale(1.1);}
.box-properties a{color: #000;}
.card{overflow: hidden;transition: 0.4s ease-in-out;height: 435px;}
.price{padding: 0px 0px 10px 0px;}
.btn-book{box-sizing: border-box;padding: 10px 20px;background-color: #FF7827 !important;color: #000000;}
.btn-book:hover{box-sizing: border-box;padding: 10px 20px;background-color: #0c709b !important;color: #fff;}
.card-title{color: #0c709b;}
.card-text i{color: #FF7827;}
.border-none{border: none !important;}
.card-img, .card-img-top {transition: 0.4s ease-in-out;}
.footer{background-color: #0c709b;}
.footer h3{font-size: 18px;color: #fff;text-transform: uppercase;}
.footer h4{font-size: 14px;color: #fff;text-transform: uppercase;}
.our-dest{box-sizing: border-box;border-bottom: 1px solid #FF7827;}
.foot-loc li{list-style: none;margin-left:-30px;}
.foot-loc a{color: #fff;font-size: 14px;}
.foot-loc a:hover{color: #d9d9d9;font-size: 14px;border-bottom: 1px solid #d9d9d9;}
.foot-box a{color: #fff;font-size: 14px;}
.foot-box a:hover{color: #d9d9d9;font-size: 14px;border-bottom: 1px solid #d9d9d9;}
.foot-box li{list-style: none;margin-left:-30px;}
.btn-foot{box-sizing: border-box;padding: 5px 10px;background-color: #FF7827;color: #000000;border-radius: 5px;}
.btn-foot:hover{box-sizing: border-box;padding: 5px 10px;background-color: #0c709b;color: #fff;border-radius: 5px;}
.foot-copywrite{box-sizing: border-box;padding: 10px;text-align: center;color: #fff;border-color: #074c69;}
.w-10{width: 40px;}
.social img{width: 40px;height: 40px;margin-top: 5px;margin-bottom: 5px;border-radius: 5px;}
.social img:hover{box-shadow: 0 0 5px #fff;border-radius: 5px;}
.form-control{border:none;background-color: #ffe1ce2e;backdrop-filter: blur(21px);}
input{margin-top: 5px;margin-bottom: 5px;background-color: #fff !important;}
textarea{background-color: #fff !important;}
.fa-angles-right:before {content: "\f101";color: #FF7827;}
.wrapper{width: 100%;overflow: hidden;}
.default-content-container {margin-left: auto;margin-right: auto;margin-top: 0;margin-bottom: 0;width: 100%;}
.marquee-wrapper { display:  inline-block;white-space: nowrap;}
.marquee {display:  inline-block;white-space: nowrap;position: relative;transform: translate3d(0%, 0, 0);animation-name: marquee;animation-timing-function: linear;animation-iteration-count: infinite;}  
.marquee img {width: 180px; height: 80px;}
.marquee a {display:  inline-block;width: 200px;margin: 0 0.5em;padding: 0.5em 0.5em;height: 110px;grid-column-gap: 20px;grid-row-gap: 20px;border-radius: 16px;overflow: hidden;}
  @keyframes marquee {
      0% {
          transform: translate3d(0%, 0, 0);
      }
  
      100% {
          transform: translate3d(-100%, 0, 0);
      }
  }
.box-item{box-sizing: border-box;background-color: #ffffff;padding: 20px;border: 1px solid #FF7827;text-align: center;border-radius: 10px;height: 300px;}
.box-item img{width: 50px !important;height: 50px;}
.customPrevBtn,.customNextBtn{cursor: pointer;text-align: center;}
.owl-nav{display: flex;gap:20px;justify-content: center;}
@media (max-width:787px) {
    .py-sm-1{padding: 1rem;}
}
.back-to-top {position: fixed;bottom: 10px;right: 0px;padding: 0px;background-color: #ff7a00;border-radius: 50px;width: 30px;height: 30px;color: white;z-index: 1;}
.price{color: #0c709b; font-weight: 800;}
.hero-image-dlf{background: url(../../images/bg-imgs/dlf-bg.jpg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 400px;}
.text-shadow{text-shadow: 0 0 5px #000;}
.dark-section{background-color: #0c709b;}
.about-product p{color: #575757;text-align: justify;}
.w-form{width: 50%;transform: translate(50%, 0px);}
.Amenities{vertical-align: middle;}
.Amenities img{width: 50px;height: 50px;}
.Amenities p{margin-top: 15px;font-size: 16px;font-weight: 500;color: #FF7827;}
.Amenities {vertical-align: middle;box-sizing: border-box;padding: 20px;background:#ffffff;margin: 10px;border-radius:10px;border: 2px solid #FF7827;}
.Amenities:hover{vertical-align: middle;box-sizing: border-box;background: radial-gradient(#ffffff, #9fd1e6);margin: 10px;}
@media (max-width:1200px) {
    .Amenities {vertical-align: middle;box-sizing: border-box;padding: 0px;background:#ffffff;margin: 10px;border-radius:10px;border: 2px solid #FF7827;}
}
@media (max-width:787px) {
    .w-form{width: 100%;transform: translate(0%, 0px);}
    .floorplan{box-sizing: border-box;border: 2px solid #FF7827;width: max-content;padding: 30px;transform: translate(0%, 0px);}
    .Amenities img {width: 30px;height: 30px;margin-top:10px;}
}
.floorplan{box-sizing: border-box;border: 2px solid #FF7827;width: max-content;padding: 30px;transform: translate(25%, 0px);}
.room{font-size: 24px;}
.floor-area{font-size: 24px;}
.floor img{width: 100%;height: 90%;border-radius: 10px;box-shadow: 0 0 5px #000;}
.floor{padding-bottom: 20px;padding-top: 20px;}
.row{margin-left: 0px;margin-right: 0;}
.gallery img{width: 170px;height: 122px;}
.h-45{height: 45px;}
.our-dest ul{padding-left: 1rem;}
.hero-image-tarc{background: url(../../images/bg-imgs/Tarc-Kailasa-New-Kirti-Nagar-Delhi-bg.jpg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 400px;}
.hero-image-godrej-jardina{background: url(../../images/bg-imgs/godrej-jardinia-bg.jpg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 400px;}
.hero-image-central-park{background: url(../../images/bg-imgs/central-park-bg.jpg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 400px;}
.hero-image-gaur-island{background: url(../../images/bg-imgs/thegour-island-bg.jpg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 400px;}
.hero-image-ska-orian{background: url(../../images/bg-imgs/ska-orian.png);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 400px;}
.hero-image-godrej-tropical{background: url(../../images/bg-imgs/Godrej-tropical-bg.jpg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 400px;}
.hero-image-m3m{background: url(../../images/bg-imgs/m3m-bg.jpg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 400px;}
.hero-image-elan{background: url(../../images/bg-imgs/elan-bg.jpg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 400px;}
@media (max-width:568px) {
.floor-text{flex-direction: column !important;align-items: center !important;}
}
.gallery{margin-left: -7px;}
.contact-us-bg{background: url(../../images/bg-imgs/contact-us-bg.jpg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height:300px;}
.contact-outer-box{box-sizing: border-box;background-color: #0c709b27;padding: 30px; margin-bottom: 20px;}
.contact-outer-box h3{color: #0c709b;}
.phone span{color: #575757;margin-right:30px;font-size: 14px;font-weight: 500;}
.phone a{color: #575757;font-size: 14px;}
.loc-add{font-size: 20px;font-weight: 400;color: #575757;}
.contact-detail{font-size: 14px; font-weight: 400;color: #575757;}
.contact-outer-box input{border: 1px solid #b9b9b9;}
.contact-outer-box textarea{border: 1px solid #b9b9b9;}
.contact-outer-box form{border: 0px;background-color: #0c709b28;}
.box-img img{width: 100%;height: 200px;}
.hero-image-max-estate{background: url(../../images/img-property/max-estates.com.jpg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 400px;}
.hero-image-SKA-destinyone{background: url(../../images/img-property/ska-destinyone.in.jpg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 400px;}
.hero-image-godrej-zenith{background: url(../../images/img-property/godrej-zenith.co.jpg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 400px;}
.hero-image-godrej-aristocrat{background: url(../../images/img-property/godrejhomez.com_godrej-aristocrat.jpg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 400px;}
.hero-image-omaxe{background: url(../../images/img-property/omaxe-dwarka.co.in.jpg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 400px;}
.hero-image-elan-presidential{background: url(../../images/img-property/elanpresidential.jpg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 400px;}
.hero-image-godrej-meridien{background: url(../../images/img-property/godrejhomez.com_godrej-aristocrat.jpg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 400px;}
.hero-image-sobha-city{background: url(../../images/img-property/sobha.jpg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 400px;}
.hero-image-m3m-golf-hills{background: url(../../images/img-property/m3m-golf-hills.in.jpg);background-position: bottom center;background-repeat: no-repeat;background-size: cover;width: 100%;height: 400px;}
.owl-prev{background: #FF7827 !important;width: 30px;height: 30px;}
.owl-next{background: #FF7827 !important;width: 30px;height: 30px;}
.About-us p{text-align: justify;}
.About-us img{width: 100%; height: 100%;}
.br-btm{border-bottom: 1px solid #b0b0b0;margin-top: 10px;margin-bottom: 10px;}
.card-body p{font-size: 14px;}
.card-body{padding-top: 0px;}
.location{margin-top: -10px;font-size: 14px;}
.size{margin-top: -10px;font-size: 14px  !important;word-wrap: break-word;}
.form-select{border: none; border-bottom:2px solid #0c709b !important;margin-top:5px;}
input{border-bottom:2px solid #0c709b !important;}
.form-select:focus {border-color: #86b7fe;outline: 0; }

.c-pd{background-color: #f4fcff;padding: 20px;}
.link a{font-size: 10px;}
.link{font-size: 10px;}
.content-blog-bx{padding: 20px 30px; border-radius: 5px;overflow: hidden;background-color: #fff;}
.content-blog-bx img{width: 100%;height: 500px;border-radius: 10px;}
.posted-by{font-size: 10px;color: #b0b0b0;margin-top: 10px;}
.blog-text p{font-size: 14px;text-align: justify;}
